<% layout('layouts/boilerplate')%>
   <h1>Details of locations</h1>
   <ul>
      <li>id:<%=camp._id%>
      </li>
      <li>title: <%=camp.title%>
      </li>
      <li>location:<%=camp.location%>
      </li>
      <img src="<%= camp.image%>" alt="" width="500px">
      <p>
         <%= camp.description%>
      </p>
   </ul>
   <a href="/makecamp">Back to Homepage</a>
   <a href="/makecamp/<%=camp._id%>/edit">Edit</a>
   <form action="/makecamp/<%=camp._id%>?_method=delete" method="post">
      <button>Delete</button>
   </form>