<% layout('layouts/boilerplate')%>



   <div class="row">
      <div class="col-6">
         <div class="card mb-3">
            <img src="<%= camp.image%>" class="card-img-top" alt="dvnbnjd">
            <div class="card-body">
               <h5 class="card-title">
                  <%=camp.title%>
               </h5>
               <p class="card-text">
                  <%=camp.description%>
               </p>
            </div>
            <ul class="list-group list-group-flush">
               <li class="list-group-item">
                  $<%=camp.price%>
               </li>
               <li class="list-group-item">
                  <%=camp.location%>
               </li>
               <!-- <li class="list-group-item">A third item</li> -->
            </ul>
            <div class="card-body">
               <a href="/makecamp/<%=camp._id%>/edit" class="card-link btn btn-info">Edit</a>
               <form class="d-inline" action="/makecamp/<%=camp._id%>?_method=delete" method="post">
                  <button class="card-link btn btn-danger">Delete</button>
               </form>
               <!-- <a href="#" class="card-link">Another link</a> -->
            </div>
         </div>

      </div>
      <div class="col-6">
         <h2>Reviews</h2>
         <form action="/makecamp/<%=camp.id%>/review" method="POST" class="mb-3 validation-form" novalidate>
            <div class="mb-3">
               <label class="form-label" for="rating">Rating</label>
               <input class="form-range" type="range" min="1" max="10" name="rating" id="rating">
            </div>
            <div class="mb-3">
               <label for="form-label" for="review">Review</label>
               <textarea class="form-control" name="review" id="review" cols="30" rows="3" required></textarea>
               <div class="valid-feedback">
                  Looks good!
               </div>
            </div>
            <button class="btn btn-success">Submit</button>
         </form>

         <% for(let review of camp.review) { %>
            <div class="card mb-3 ">
               <div class="card-body">
                  <h5 class="card-title">Rating: <%= review.rating %>
                  </h5>
                  <p class="card-text">Review: <%= review.review %>
                  </p>
                  <form action="/makecamp/<%=camp._id%>/review/<%=review._id%>?_method=DELETE" method="POST">
                     <button class="btn btn-sm btn-danger">Delete</button>
                  </form>
               </div>
            </div>
            <% } %>
      </div>
   </div>