<% layout('layouts/boilerplate')%>
   <!-- <h1>make update</h1>
   <form action="/makecamp/<%=prd._id%>?_method=put" method="post">
      <div>
         <label for="title">Title</label>
         <input type="text" name="title" id="title" placeholder="Enter ItemName" value="<%=prd.title%>">
      </div>
      <div>
         <label for="location">location</label>
         <input name="location" id="location" value="<%=prd.location%>" placeholder="add location">
      </div>
      <button>Submit</button>
   </form>
   <a href="/makecamp/<%=prd._id%> ">Go Back</a> -->


   <div class="row">
      <h1 class="text-center">Edit Camp</h1>
      <div class="col-6 offset-3">
         <form action="/makecamp/<%=prd._id%>?_method=put" method="post">
            <div class="mb-3">
               <label class="form-label" for="title">Title</label>
               <!-- <br> -->
               <input class="form-control" type="text" name="title" id="title" placeholder="" value="<%=prd.title%>">
            </div>
            <div class="mb-3">
               <label class="form-label" for="location">Locations</label>
               <!-- <br> -->
               <input class="form-control" type="text" name="location" id="location" placeholder=""
                  value="<%=prd.location%>"></input>
               <!-- <input type="text" name="location" id="location" placeholder="add location"> -->
            </div>
            <div clas="mb-3">
               <label class="form-label" for="price">Price</label>
               <div class="input-group mb-3">
                  <span class="input-group-text" id="price-label">$</span>
                  <input type="text" class="form-control" id="price" name="price" value="<%=prd.price%>"
                     placeholder="0.00" aria-label="price-label" aria-describedby="price-label">
               </div>
            </div>
            <div class="mb-3">
               <label class="form-label" for="image">Image Url</label>
               <!-- <br> -->
               <input class="form-control" type="text" name="image" value="<%=prd.image%>" id="image"
                  placeholder=""></input>
               <!-- <input type="text" name="location" id="location" placeholder="add location"> -->
            </div>
            <div class="mb-3">
               <label class="form-label" for="description">Description</label>
               <!-- <br> -->
               <textarea class="form-control" type="text" name="description" 
                  id="description" placeholder=""><%=prd.description%></textarea>
               <!-- <input type="text" name="location" id="location" placeholder="add location"> -->
            </div>
            <button class="btn btn-info">Edit</button>
         </form>
         <a href="/makecamp/<%=prd._id%> ">Go Back</a>
         <!-- <a href="/makecamp">Back to Homepage</a> -->
      </div>
   </div>